/* Header Styles */

.live-support .support-container .header {
    flex-shrink: 0;
    padding-bottom: 10px;
    display: flex;
    background: transparent;
    width: 100%;
}

.live-support .support-container .header .close-button {
    cursor: pointer !important;
}


.live-support .support-container .header .title {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 5px;
}


.live-support .support-container .header button {
    flex-shrink: 0;
}

.live-support .support-container .header .header-logo {
    width: 39px;
    height: 39px;
    border-radius: 100%;
}

.live-support .support-container .header .chat-close {
    cursor: pointer;
}


